{% extends 'base.html' %}
{% block content %}
<div class="container">
    <br><br/>
    <center>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <center>
                            <h5 class="card-title">{{product.name}}</h5>
                            <p class="card-text justify-content-center">{{product.description}}</p>
                            {% if product.is_sale %}
                            <div class="d-flex justify-content-center-small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                &nbsp;&nbsp;sale!&nbsp;&nbsp;
                                <div class="bi-star-fill"></div>
                            </div>
                            <strike>₹{{product.price}}</strike>
                            &nbsp;₹{{product.sale_price}}

                            {% else %}
                            ₹{{product.price}}

                            {% endif %}
                            <br><br/>
                            <div class="row  justify-content-center">
                                <div class="col-md-4">Quantity:</div>
                                <div class="col-md-3">
                                    <select class="form-select form-select-sm" id="qty-cart">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="3">4</option>
                                        <option value="3">5</option>
                                    </select>
                                </div>
                            </div>
                            <br><br/>
                            <a href="{% url 'home'%}" class="btn btn-secondary ">Home</a>
                            <button type="button" value="{{product.id}}" class="btn btn-secondary" id="add-cart">
                                Add to
                                cart
                            </button>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </center>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).on('click','#add-cart',function(e){
        e.preventDefault();
        var product_id = $(this).val();
        var product_qty = $('#qty-cart').val();

        $.ajax({
           type:'POST',
           url:'{% url 'cart_add' %}',
           data:{
           product_id:product_id,
           product_qty:product_qty,
           csrfmiddlewaretoken:'{{csrf_token}}',
           action:'post'
        },
        success:function(json){
        document.getElementById("cart_quantity").textContent=json.qty
        textContent=json.qty
        location.reload();


        },
        error:function(xhr,errmsg,err){
        }
    });
});
</script>
{% endblock %}