{% extends 'base.html' %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us....</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to online shopping platform...</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8"></div>
            <p align="justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras risus ex, convallis ut porta at, hendrerit
                vitae nunc. Cras vel rutrum arcu. Nullam a elit eget nibh dictum tempus fringilla at tortor. Curabitur
                tincidunt nibh eu augue mollis, sit amet feugiat ipsum lobortis. Integer ullamcorper ex eu nunc commodo,
                et maximus odio dignissim. Praesent sem sapien, bibendum eget ullamcorper ut, gravida vel augue. Donec
                ullamcorper tincidunt ex, sed porta lectus venenatis in. Aenean pulvinar convallis leo, sed rhoncus
                lacus interdum sed. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                curae; Cras iaculis enim at est porta tempor.
                <br><br/>
                Vivamus rutrum accumsan porttitor. Aliquam erat volutpat. Nullam iaculis odio egestas nisl venenatis,
                quis ultrices nisl egestas. Nullam bibendum ante in sapien tempor malesuada. Sed et quam imperdiet,
                vehicula nunc ac, accumsan nisi. Pellentesque tortor neque, lobortis non lectus ac, tincidunt laoreet
                sem. Sed sodales dui nec luctus consequat. Proin commodo elit et congue dapibus. Vivamus in massa quam.
                Curabitur sit amet interdum risus. Duis ultrices purus ut dolor rutrum vulputate.
                <br><br/>
                Curabitur sit amet tempus mi. Praesent consequat venenatis ligula vel finibus. Nulla lacus purus,
                egestas quis vehicula et, blandit ac arcu. Morbi eu nisl congue, feugiat dui vel, egestas mauris.
                Integer nec purus eget eros ultrices egestas ut vel diam. Sed vulputate ante ipsum, nec hendrerit ligula
                sodales vel. Fusce rhoncus pharetra nunc, et placerat enim iaculis rhoncus. Morbi consectetur, eros at
                posuere facilisis, dolor augue fermentum augue, eu rhoncus magna odio euismod metus. Integer mattis
                aliquam lacus vel bibendum. Donec mattis enim urna, sed molestie est finibus quis. Proin libero enim,
                vulputate hendrerit dui at, ornare faucibus est. Integer maximus nisl quam, eget iaculis justo elementum
                ac. Vivamus convallis semper ex sed congue. Duis in blandit turpis, quis mollis nisi. Vivamus posuere
                sapien erat, et rutrum felis volutpat vitae. Praesent tristique nibh at sapien blandit posuere.
            </p>
        </center>
    </div>
</div>
{% endblock %}